# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [23]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
df = pd.read_csv('turnstile_180901.txt')
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [25]:
#Your code here
headers = list(df)
for header in headers:
    df = df.rename(columns = {header:header.lower()})
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Change the Index to be the Line Names

In [26]:
#Your code here
df = df.set_index('linename')
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Painstakingly change the index back

In [27]:
# Your code here
df = df.reset_index()
df.head()

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [28]:
stations = df['station'].unique()
df['num_lines'] = 0
for station in stations:
    df.loc[df['station']==station, 'num_lines'] = len(df.loc[df['station']==station, 'linename'].unique())
print('done')

done

In [33]:
df['num_lines'].unique()

array([3, 1, 2, 4])

## Write a function to clean a column name.

In [34]:
def clean(col_name):
    cleaned = col_name.strip()
    return cleaned

In [35]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [36]:
#Checking the output, we can see the results.
df.columns

Index(['linename', 'c/a', 'unit', 'scp', 'station', 'division', 'date', 'time',
       'desc', 'entries', 'exits', 'num_lines'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [64]:
#Your code here
df.date = pd.to_datetime(df.date, format = '%m/%d/%Y')
df.loc[:,'weekday'] = df.date.dt.day_name()
df.loc[:,'traffic'] = df.loc[:,'entries'] + df.loc[:,'entries']
y = []
x = df.weekday.unique()
for day in df.weekday.unique():
    y.append(df.loc[df['weekday']==day,['traffic']])
    
xy = {}

#plt.title('Traffic on different days of the week'.title())
#plt.ylabel('Entries and Exits')
#plt.xlabel('Day of Week')
##plt.bar(x , y)
#plt.show()
y

[         traffic
 0       13472134
 1       13472174
 2       13472210
 3       13472360
 4       13472698
 5       13473124
 42      12053552
 43      12053600
 44      12053624
 45      12053786
 46      12054062
 47      12054460
 84       2235626
 85       2235636
 86       2235642
 87       2235724
 88       2235868
 89       2236006
 126      1608938
 127      1608986
 128      1609018
 129      1609294
 130      1609748
 131      1610238
 168     11776774
 169     11776810
 170     11776848
 171     11777084
 172     11777572
 173     11778090
 ...          ...
 197415   5387328
 197416   5387336
 197417   5387478
 197418   5388380
 197419   5389568
 197420   5390738
 197457   1202030
 197458   1202038
 197459   1202044
 197460   1202154
 197461   1202386
 197462   1202634
 197499   5960392
 197500   5960394
 197501   5960400
 197502   5960522
 197503   5960784
 197504   5961052
 197541      5596
 197542      5596
 197543      5596
 197544      5596
 197545      5598
 197546      5598
 197583     11108
 197584     11108
 197585     11108
 197586     11108
 197587     11108
 197588     11108

 [27767 rows x 1 columns],          traffic
 6       13473366
 7       13473392
 8       13473410
 9       13473492
 10      13473746
 11      13474134
 48      12054680
 49      12054718
 50      12054734
 51      12054828
 52      12055124
 53      12055402
 90       2236148
 91       2236158
 92       2236168
 93       2236212
 94       2236356
 95       2236488
 132      1610600
 133      1610652
 134      1610682
 135      1610858
 136      1611252
 137      1611708
 174     11778448
 175     11778502
 176     11778526
 177     11778718
 178     11779036
 179     11779390
 ...          ...
 197421   5391132
 197422   5391144
 197423   5391264
 197424   5392166
 197425   5393346
 197426   5394314
 197463   1202688
 197464   1202692
 197465   1202700
 197466   1202838
 197467   1203104
 197468   1203296
 197505   5961142
 197506   5961144
 197507   5961156
 197508   5961264
 197509   5961552
 197510   5961742
 197547      5598
 197548      5598
 197549      5598
 197550      5598
 197551      5598
 197552      5598
 197589     11108
 197590     11108
 197591     11108
 197592     11108
 197593     11108
 197594     11108

 [28081 rows x 1 columns],          traffic
 12      13474272
 13      13474292
 14      13474338
 15      13474602
 16      13475106
 17      13476514
 54      12055546
 55      12055552
 56      12055604
 57      12055856
 58      12056218
 59      12057328
 96       2236570
 97       2236572
 98       2236590
 99       2236710
 100      2236918
 101      2237354
 138      1612022
 139      1612042
 140      1612116
 141      1612434
 142      1612906
 143      1613878
 180     11779654
 181     11779680
 182     11779752
 183     11780108
 184     11780582
 185     11781722
 ...          ...
 197427   5394466
 197428   5394474
 197429   5395126
 197430   5395798
 197431   5396480
 197432   5397132
 197469   1203320
 197470   1203322
 197471   1203372
 197472   1203542
 197473   1203724
 197474   1203900
 197511   5961788
 197512   5961788
 197513   5961818
 197514   5961964
 197515   5962154
 197516   5962356
 197553      5598
 197554      5598
 197555      5598
 197556      5598
 197557      5600
 197558      5600
 197595     11108
 197596     11108
 197597     11108
 197598     11108
 197599     11108
 197600     11108

 [28254 rows x 1 columns],          traffic
 18      13476860
 19      13476884
 20      13476948
 21      13477242
 22      13477772
 23      13479260
 60      12057564
 61      12057576
 62      12057626
 63      12057876
 64      12058278
 65      12059232
 102      2237510
 103      2237512
 104      2237536
 105      2237676
 106      2237870
 107      2238306
 144      1614270
 145      1614290
 146      1614332
 147      1614656
 148      1615216
 149      1616198
 186     11782112
 187     11782144
 188     11782230
 189     11782574
 190     11783010
 191     11784134
 ...          ...
 197433   5397340
 197434   5397342
 197435   5397978
 197436   5398662
 197437   5399170
 197438   5399748
 197475   1203910
 197476   1203910
 197477   1203958
 197478   1204092
 197479   1204236
 197480   1204378
 197517   5962380
 197518   5962380
 197519   5962408
 197520   5962500
 197521   5962646
 197522   5962824
 197559      5600
 197560      5600
 197561      5600
 197562      5600
 197563      5600
 197564      5600
 197601     11108
 197602     11108
 197603     11108
 197604     11108
 197605     11108
 197606     11108

 [28772 rows x 1 columns],          traffic
 24      13479608
 25      13479624
 26      13479694
 27      13479972
 28      13480514
 29      13481776
 66      12059504
 67      12059526
 68      12059584
 69      12059844
 70      12060306
 71      12061336
 108      2238478
 109      2238486
 110      2238502
 111      2238588
 112      2238766
 113      2239154
 150      1616626
 151      1616664
 152      1616738
 153      1616980
 154      1617586
 155      1618616
 192     11784524
 193     11784560
 194     11784624
 195     11784954
 196     11785460
 197     11786554
 ...          ...
 197439   5399920
 197440   5399920
 197441   5400568
 197442   5401174
 197443   5401704
 197444   5402184
 197481   1204402
 197482   1204402
 197483   1204444
 197484   1204552
 197485   1204732
 197486   1204872
 197523   5962856
 197524   5962860
 197525   5962880
 197526   5962994
 197527   5963130
 197528   5963296
 197565      5600
 197566      5600
 197567      5600
 197568      5602
 197569      5606
 197570      5606
 197607     11108
 197608     11108
 197609     11108
 197610     11108
 197611     11108
 197612     11108

 [28203 rows x 1 columns],          traffic
 30      13482130
 31      13482164
 32      13482230
 33      13482482
 34      13483066
 35      13484398
 72      12061610
 73      12061634
 74      12061688
 75      12061932
 76      12062346
 77      12063302
 114      2239342
 115      2239352
 116      2239364
 117      2239470
 118      2239670
 119      2240070
 156      1619154
 157      1619180
 158      1619242
 159      1619536
 160      1620084
 161      1621110
 198     11787016
 199     11787056
 200     11787122
 201     11787524
 202     11788040
 203     11789146
 ...          ...
 197445   5402324
 197446   5402326
 197447   5402994
 197448   5403676
 197449   5404370
 197450   5404958
 197487   1204930
 197488   1204932
 197489   1204972
 197490   1205108
 197491   1205342
 197492   1205506
 197529   5963366
 197530   5963368
 197531   5963382
 197532   5963494
 197533   5963750
 197534   5963968
 197571      5606
 197572      5606
 197573      5606
 197574      5606
 197575      5606
 197576      5606
 197613     11108
 197614     11108
 197615     11108
 197616     11108
 197617     11108
 197618     11108

 [28447 rows x 1 columns],          traffic
 36      13484794
 37      13484820
 38      13484888
 39      13485150
 40      13486028
 41      13487150
 78      12063568
 79      12063582
 80      12063642
 81      12063874
 82      12064526
 83      12065312
 120      2240262
 121      2240272
 122      2240290
 123      2240352
 124      2240590
 125      2240938
 162      1621624
 163      1621674
 164      1621732
 165      1622026
 166      1622674
 167      1623466
 204     11789556
 205     11789590
 206     11789632
 207     11789962
 208     11790638
 209     11791470
 ...          ...
 197451   5405092
 197452   5405092
 197453   5405702
 197454   5406580
 197455   5407286
 197456   5407914
 197493   1205558
 197494   1205558
 197495   1205590
 197496   1205672
 197497   1205908
 197498   1206034
 197535   5964046
 197536   5964050
 197537   5964070
 197538   5964154
 197539   5964370
 197540   5964502
 197577      5606
 197578      5606
 197579      5606
 197580      5606
 197581      5606
 197582      5606
 197619     11108
 197620     11108
 197621     11108
 197622     11108
 197623     11108
 197624     11108

 [28101 rows x 1 columns]]

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#Your code here

# Drop a couple of columns

In [9]:
# Your code here
del df['c/a']
del df['desc']